USE [master]
GO
/****** Object:  Database [ChartExample]    Script Date: 15/04/2022 04:45:35 p. m. ******/
CREATE DATABASE [ChartExample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChartExample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChartExample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChartExample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChartExample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChartExample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChartExample]
GO
/****** Object:  Table [dbo].[Beer]    Script Date: 15/04/2022 04:45:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beer](
	[BeerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_Beer] PRIMARY KEY CLUSTERED 
(
	[BeerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 15/04/2022 04:45:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockId] [int] IDENTITY(1,1) NOT NULL,
	[BeerId] [int] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Beer] ON 

INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (1, N'Indio', 1)
INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (2, N'Tecate', 2)
INSERT [dbo].[Beer] ([BeerId], [Name], [BrandId]) VALUES (3, N'Negra', 3)
SET IDENTITY_INSERT [dbo].[Beer] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([StockId], [BeerId], [Quantity]) VALUES (1, 1, 10)
INSERT [dbo].[Stock] ([StockId], [BeerId], [Quantity]) VALUES (2, 2, 45)
INSERT [dbo].[Stock] ([StockId], [BeerId], [Quantity]) VALUES (3, 3, 60)
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Beer] FOREIGN KEY([BeerId])
REFERENCES [dbo].[Beer] ([BeerId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Beer]
GO
USE [master]
GO
